body {
	color: white;
	
}
body div header{
    font-size: 15px;
	width: 100%;
	margin: 1px auto;
	border: 2px solid rgb(150, 121, 69);
    background-color: rgb(150,121,69);
    text-align: center;
}
nav{
    font-size: 10px;
    height: 20px;
    margin: 1px auto;
    background-color: #756d70;
    padding-left: 12px;
	padding-top: 3px;
    text-align: center;
}
section {
	background-color: #2a87a3;
	height: 500px;
	margin: 20px;
}
.a {
	background-color: aqua;
}

.b {
	background-color: blueviolet;
}

.c {
	background-color: chartreuse;
}

.d {
	background-color: crimson;
}

.a,
.b,
.c,
.d {
	width: 25%;
	height: 100px;
	float: left;
}