#container {
	width: 960px;
	background: paleturquoise;
	color: white;
	margin: 0 auto;
}

header {
	background: rgb(255, 7, 7);
	height: 100px;
	line-height: 70px;
	text-align: center;
}

div {
    margin: 1px;
    width: 100px;
    height: 815px;
}

section {
    box-sizing: border-box;
    width: 100%;
} 
.PZ {
    float: left;
    background: rgb(27, 199, 70);
  }
  
  .left{
    margin: 0px;
    width: 200px;
    height: 898px;
    float: left;
    background: rgb(14, 17, 233);
    text-align: center;
}
  .right{
    margin: 0px;
    width: 250px;
    height: 898px;
    float: right;
    background: rgb(14, 17, 233);
    text-align: center;
  }
  

.color_1 {
	background: peachpuff;
}
footer {
	height: 80px;
	background-color:goldenrod;
	color: #fff; 
	padding-bottom: 6px;
    bottom: 0;
    left: 0;
    width: 100%;
}