body{
    background-color: blue;
    font-size: 25px;
    /*Taille en 25 pixels */
}
h1 {
    text-decoration: gold;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

section p {
    color: #05ff11;
    /*tous les p a l'interieur de la balise section
    sont en vert
    */
}

section p:first-child{
    color: bisque;
    /*cible le premier p de section*/
}

section p:last-child{
    color: rgb(255, 145, 0);
    /*cible le dernier p de section*/
}
/* selection au 4eme et 7eme  enfant direct
 de la balise <section>*/
 
section p:nth-child(4),
section p:nth-child(7) {
    color: rgb(255, 0, 85);
    /* cible le dernier p de section*/
}

section p:nth-child(even){
    font-weight: 1000;
    /* selection des element pair */
}

section p:nth-child(odd){
    font-weight: 700;
    font-style: italic;
    /*selection des element impair*/
}

#zone3bis{
    border-radius: 15px;
    width: 200px;
}


/*pour styliser une seule div quand
 on en a plusieurs on cible*/

/* plus on est précis dans la selection
 plus la modification prendra
 le dessus sur la selection */ 

 /* selection de la class avec un . */
.zone2 {
    background-color: brown;
}
/* selection de l'id avec # */
#zone5{
    color: rgb(167, 6, 189);
}
div {
    color: #05ff11;
    font-size: 45px;
}
