body{
    width: 960px;
    margin: auto;
}
table{
    border: 1px solid #000000;
    width: 1%;
    margin: 20px;
    border-collapse: collapse;
}

td{
    border: 1px solid #000000;
    font-size: 20px;
    padding: 20px;
    width: 10%;
}
{
    background-color: ;
}
{
    background-color: ;
}
{
    background-color: ;
}
{
    background-color: ;
}
.violet{
    backgroud-color:#581846
}
