*{
    margin:0;
}

body{
    background-color:  #DDEEAA;
}
#container {
    width: 800px;
    height: 1200px;
    margin: 0 auto;
    border: 2px solid darkslategray;
    background-color: white;
}

header{
    display: flex;
    justify-content: space-between;
    
}
   
nav{
    word-spacing: 4px;
}
ul {
    background-color: rgb(49, 224, 43);
    padding: 10px;
    display: flex;
    justify-content: space-evenly;
    
}

li{
    list-style-type: none;
}

a{
    text-decoration: none;
    color: azure;
    font-family: monospace;
    border: 1px solid rgb(49, 224, 43);
    background-color: rgb(49, 224, 43);
    padding: 5px;
    border-right: 1px solid white;
    
}
a:hover{
    background-color: azure;
    color: rgb(49, 224, 43);
}
h2{
    color: rgb(49, 224, 43);
    border-bottom: 1px solid rgb(49, 224, 43);
    height: 24px;
    margin-left: 70px;
}
section{
    text-align: left;
    word-spacing: 2px;
    padding-left: 0px;
    line-height: 2em;
    margin-top: 10px;
    
}

h3{
    color: rgb(49, 224, 43); 
    padding: 5px 0;
    border-bottom: 1px solid rgb(49, 224, 43);
    height: 27px;
    margin-left: 70px;
}
p{
    margin-left: 70px;
}


.bg_page{
    float: left;
}


.footer{
    color: chartreuse;
    text-align: right;
}