*{
    margin: 0 auto;
}

h1{
    text-align: center;
    background-color: crimson;
    color: bisque;
    padding: 15px 0;
}

nav{
    background-color: grey;
    padding: 15px;
    display: flex;
    /* jutify-centent, align-item... ne sont utilisables qu'avec le 
    display flex (notions flexbox)
     */
    justify-content: space-between;

}

a{
    text-decoration: none;
    color: azure;
    font-family: monospace;
    border: 1px solid violet;
    background-color: violet;
    border-radius: 15px;
    padding: 5px;
}

/* style différent au survol de la souris */
a:hover{
    background-color: azure;
    color: violet;
}