*{
    font-family: "Playwrite VN", cursive;
    font-optical-sizing: auto;
    font-weight: 800;
    font-style: normal;
}



body{
    width: 960px;
    margin: auto;

}

table{
    border: 4px solid #483d8b;
    width: 90%;
    margin-top: 25px;
    border-collapse: collapse;
}

th{
    border: 1px dotted #483d8b;
    padding: 5px;
    background-color: #e7c2f5;
    width: 25%;
}

td{
    font-size: 20px;
    border: 1px dotted #483d8b;
    text-align: center;
    padding: 5px;
}

